<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../static/partials/head.ejs %>
</head>
<body>
  <% include ../static/partials/navbar.ejs %>
  <main class="container">
    <% include ../static/partials/messages.ejs %>
    </br>
    <h1 id="comingSoon">New TV This Week: </h1>
    </br>
    <% for (let i = 0; i < tv.length; i++) { %>
      <div class="container">
        <ul class="list-group">
          <li class="list-group-item"><b>Title:</b> <%= tv[i].name %> | <b>Original Air Date:</b> <%= tv[i].first_air_date %></li>
          <li class="list-group-item">
            <% if(tv[i].poster_path === null) { %>
              <img src="../images/notAvailable.png" alt="Poster is not available">
          <% } else { %>
             <img src="http://image.tmdb.org/t/p/w92/<%= tv[i].poster_path %>" alt="Image Unavailable">
          <% } %>
          <% if (tv[i].genre_ids.length === 1) { %>
            <% for (let j = 0; j < genres.length; j++) { %>
              <% if (tv[i].genre_ids == genres[j].id) { %>
                </br><span class="badge badge-dark"><%= genres[j].name %></span></li>
                <% } %>
              <% } %>
            <% } else { %>
          </br>
            <% for (let k = 0; k < tv[i].genre_ids.length; k++) { %>
              <% for (let j = 0; j < genres.length; j++) { %>
                <% if (tv[i].genre_ids[k] == genres[j].id) { %>
                  <span class="badge badge-dark"><%= genres[j].name %></span>
                  <% } %>
                <% } %>
              <% } %>
            <% } %>
          </li>
          <li class="list-group-item"><b>Synopsis</b>: <%= tv[i].overview %></li>  
        </ul>
      </div>
      </br>
      <% } %>
    </main>
    <% include ../static/partials/baseScripts.ejs %>
  </body>
  <footer>
    <% include ../static/partials/footer.ejs %>
  </footer>
</html>
